# Godot 4+ specific ignores
.godot/
/android/
/builds/
*.gbc
/assets/oracle/
/.vs/ORACLE-OF-AGES
/validation/bin
/validation/obj
/tools/OracleImporter/bin/
/tools/OracleImporter/obj/
/tools/OracleImporter.Tests/bin/
/tools/OracleImporter.Tests/obj/
/tools/ModSupport.Tests/bin/
/tools/ModSupport.Tests/obj/
/.vs
*.old
